.container {
    max-width: 358px;
    height: 228px;

    /* NEW GRADIENT 2 */

    background: linear-gradient(270deg, #800080 0%, #FF864C 100%);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
}

.head .name {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #FFFFFF;
}

.date {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.courseNameContainer {
    padding: 0px 20px 10px 20px;
    color: #FFFFFF;
}

.title {
    padding: 0px 0px 10px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
}

.courseList {
    max-height: 90px;
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    color: #FFFFFF;
    padding: 0px 20px 0px 20px;
    margin-bottom: 10px;
    overflow-y: scroll;
}
.courseList::-webkit-scrollbar {
    width: 5px;
  }
  .courseList::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  .courseList::-webkit-scrollbar-thumb {
    background: #EEAEAE;
    border-radius: 2.5px;
  }
  
  /* Handle on hover */
  .courseList::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.courseList span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.courseName {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    border:1px solid white;
    padding: 5px 7px;
    border-radius: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}