.container{
    position: relative;
    top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    
}
.container::-webkit-scrollbar {
    width: 0px;
  }

@media screen and (max-width: 550px) {
    .container{
        flex-direction: column;
        gap: 20px 0px;
        align-items: flex-start;
    }
}