
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.AppContainer{
  position: relative;
  /* display: block;  */
  top: 73px ;
  margin:0px 187px;
  transition: margin 0.3s,top 0.3s;
  opacity: 0;
  padding:1em 0em;
  transition: 0.1s all ease;
}
.section2{
  padding-bottom: 80px;
}
.buttons {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--vol);
  cursor: pointer;
}
.buttons:hover{
  color: var(--pink);
}
.section1 {
  position: relative;
  top: 60px;
  padding-bottom: 20px;
}
@media screen and (max-width:1280px){
  .AppContainer{
    top: 93px;
    margin:0px 105px;
    
  }
}
@media screen and (max-width:820px){
  .AppContainer{
    top: 93px;
    margin:0px 75px;
  }
}
@media screen and (max-width:550px){
    
.AppContainer{
  top: 93px;
  /* width: 100%; */
  margin:0px 35px;
}
}

