.msg{
    position: fixed;
    width: max-content;
    top: 100px;
    right: 50px;
    display: flex;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    /* transition:ease-in-out all 0.5s; */
    background: var(--pink);
    box-shadow: inherit;
    box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s linear 1;
}

@keyframes slideIn {
    from{
        transform: translateX(100px);
    }
    to{
        transform: translateX(0px);
    }
}